body {
	background-color: #f5f5f5;
	color: #757575;
	cursor: default;
	/* for footer */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	/* for footer */
	flex: 1 0 auto;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
	font-weight: 300;
	color: #616161;
	cursor: default;
}

#profilePic {
	width: 10em;
}

.myCard {
	background-color: #fff;
}

.myCardNoPadding {
	padding: 0 1rem;
}

.collapsible-header h1,
.collapsible-header h2,
.collapsible-header h3,
.collapsible-header h4,
.collapsible-header h5,
.collapsible-header h6 {
	cursor: pointer;
}

#socialMediaButtons #hackerearth {
	height: 24px;
	width: auto;
	background-color: rgba(0, 0, 0, 0.54);
}

#mailORcallButtons,
#resumeButtonAndText,
#socialMediaButtons {
	padding-top: 0.5em;
	margin: 0;
}

.positionImgCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#resume .modal-content {
	overflow: hidden!important;
	padding: 0!important;
}

#resume {
	width: 75%;
	min-height: 90%;
	top: 5%!important;
}

#resume iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

footer a {
	color: #757575;
}

@media only screen and (max-width:768px) {
	#resume {
		width: 100%;
	}
}


/**
 * Disable text selection
 */

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}