body {
	background-color: whitesmoke;
}

.container {
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #616161;
}

p, .flow-text {
	color: #757575;
}


/*a {
	color: inherit;
	removes default bule color of the anchor tag
}*/

#socialMediaButtons, #resumeButtonAndText, #mailORcallButtons {
	padding-left: 2rem;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.positionImgCenter {
	/*Add class to img tag to place it in the center*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}