body {
	/*#F5F5F5 whitesmoke*/
	background-color: #F5F5F5;
}

.container {
	/*#F5F5F5 white*/
	background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #616161;
}

p, .flow-text {
	color: #757575;
}

#resumeButtonAndText, #resumeButtonAndText, #mailORcallButtons {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	margin: 0%;
}

#socialMediaButtons {
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0%;
}

.positionImgCenter {
	/*Add class to img tag to place it in the center*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}