.fx-container {
  display: flex;

  &.direction-column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  > .fx-item {
    // flex: 1;
    // safari v9.1.2 does not take default value
    flex: 0 1 auto;

    &.fx-grow-zero {
      flex-grow: 0;
    }
  }
}
