@import './stylesheets/flexbox-helper.scss';
@import './stylesheets/themes/themes.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  min-height: 400px;
}

p {
  line-height: 1.25rem;
}

a {
  text-decoration: none;
}
